<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Currículo
      </h1>
      <h2 class="subtitle">
        Organização das disciplinas
      </h2>
    </div>
  </div>
</section>

  {{#each model as |disciplina|}}
      <div style="display: inline-block" class="button">
          {{disciplina.nome}} {{disciplina.sem}}
            {{disciplina.ch}} {{disciplina.obr}} {{disciplina.nc}}
            {{disciplina.eixo}}
      </div>
  {{/each}}

{{outlet}}