<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Currículo
      </h1>
      <h2 class="subtitle">
        Organização das disciplinas
      </h2>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column notification is-primary">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>

<div class="columns">

  {{#each model as |disciplina|}}
  <span class="tag title">
    {{disciplina.nome}} {{disciplina.sem}}
    {{disciplina.ch}} {{disciplina.obr}} {{disciplina.nc}}
    {{disciplina.eixo}}
  </span>
  {{/each}}

</div>
{{outlet}}